
.container {
    display: flex;
    height: 450px;
}

.cell-card {
    margin: 5px;
}

.component-card {
    width: 250px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 100px;

}

.component-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.numbers {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;

}

.contr, .foll, .rep {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.info {
    flex-grow: 1;
    margin: 5px;
}

.card-about > p {
    text-align: justify;
}

.btn {
    border-radius: 0;
    display: block;
}